.loader {
    width: 30rem;
    height: 6rem;
    background-color: yellow;
}

.loader::after {
    content: '';
    font-weight: 600;
    font-size: 2rem;
    color: red;
    animation: mercy 5s infinite ;
}

@keyframes mercy {
    0% {
        content: 'I';
    }

    10% {
        content: 'BUILD';
    }

    20% {
        content: 'I';
    }

    30% {
        content: 'CODE';
    }

    40% {
        content: 'I';
    }

    50% {
        content: 'DEVELOP';
    }

    100% {
        content: 'WEBSITE';
    }
}
